<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <li class="notice"><%= notice %></li>
    <li class="alert"><%= alert %></li>
    <% model.errors.full_messages.each do |message| %>
      <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>