<footer class="footer">
  <div class="page-top" id="js-page-top">
    トップへもどる
  </div>
  <div class="inner">
    <div class="copyright">Copyright&copy;Fuuun Ramen. All Rights Reserved.</div>
  </div>
</footer>
