/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

/*--------------------------------
 レイアウト
---------------------------------*/

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

// breadcrumbsが入らない箇所にはwrapperを設定
.breadcrumbs {
  padding-top: 40px;
  margin-left: 30px;
  color: #a9a9a9;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.breadcrumbs a, .breadcrumbs a:hover {
  text-decoration: none;
  color: #a9a9a9;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.breadcrumbs span {
  margin-left: 5px;
  color: #2e8b57;
  padding-right: 5px;
}

.wrapper {
  margin: 40px auto;
  width: 100%;
}

.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/

.gnav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin:0;
  padding:0 15px;
  font-size:100%;
  vertical-align: baseline;
  background:transparent;
}

.gnav-logo {
  transition: .3s;
  color: #333;
  opacity: 1;
  text-decoration: none;
}

.gnav-logo:hover {
  text-decoration: none;

}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  padding: 0 10px;
  letter-spacing: .05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
  text-decoration: none;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}


.new-notice {
  background-color: rgba(134, 197, 153, 0.3);
  padding: 5px;
  border-radius: 5px;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
 flash_messages
---------------------------------*/
.notifications {
  position: relative;
  top: 60px;
  z-index: 50;
  width: 100%;
  // padding: 5px 20px;
  color: green;
  text-align: center;
}

.notice {
  background-color: rgb(171, 233, 130);
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: fixed;
  width: 100%;
  animation-name: flash;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0% {
  opacity: 0;
  transform: translateY(-30px);
  }
  40%{
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    // transform: translateY(0);
  }
}


.alert {
  background-color: rgb(247, 214, 243);
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: fixed !important;
  width: 100%;
  animation-name: flash;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/*--------------------------------
 _error_messages.html.erb
---------------------------------*/
.error-alert {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(247, 214, 243, 0.5);
  border-radius: 5px;
}

.error-message {
  font-size: 14px;
  color: rgb(150, 10, 22);
  text-align: center;

}


/*--------------------------------
 ユーザー、プロダクトのメニュータブ
---------------------------------*/

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:15px 0;
  background-color: #f7f7f7;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(134, 197, 153);
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background-color: rgb(134, 197, 153);
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}


.test {
  margin-top: 50px;
  margin-left: 50px;
}
