// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: image-url('header_image.jpg');
  background-position-y: 50%;
  background-size: cover;
  color: white;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.logo-title {
  font-family: "Open sans", sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: .2em;
}

.logo-subtitle {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: .2em;
}

.home-order-link {
  margin-top: 50px;

}

/*--------------------------------
 Products-section
---------------------------------*/
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -40px;
}

.products-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.products-item:nth-of-type(3n) {
  margin-right: 0;
}

.products-image-wrapper {
  max-width: 400px;
  height: 300px;
}

.products-image {
  width: 100%;
  height: 100%;
  padding: 2px;
  object-fit: cover;
}

.products-body {
  text-align: center;
}

.products-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.products-text {
  font-size: 10px;
}

.products-url {
  font-size: 10px;
}

.products-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.products-image.fadein.lazyloaded {
  opacity: 1;
}


.home-products-link {
  margin-top: 60px;
  text-align: center;
}

.home-products-link-btn{
  background-color: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.home-products-link-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
  text-decoration: none;
}




/*--------------------------------
 About
---------------------------------*/
.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 500px;
  margin-right: 40px;
}

.about-image {
  margin-bottom: 5px;
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.about-image-500 {
  display: none;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 Information
---------------------------------*/

.information-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.information-item {
  margin-bottom: 50px;
  width: 400px;
}

.information-image-wrapper {
  // margin-right: 20px;
  max-width: 400px;
  height: 300px;
}

.information-image {
  width: 100%;
  height: 100%;
  padding: 2px;
  object-fit: cover;
}

.information-body {
  // flex: 1;
  margin: 20px 10px;
}

.information-body p:not(:last-child) {
  margin-bottom: 20px;
}

.information-title {
  margin-bottom: 3px;
}


/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-info-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-image-wrapper {
  width: 100%;
  height: 300px;
  flex: 1;
}

.shop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-info {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
}

.shop-data {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(134, 197, 153);
  letter-spacing: 0.5em;
}

.contact-form-group {
  width: 80%;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
}

.contact-input-default {
  height: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.contact-input-area {
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.contact-submit-text {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}


/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
  margin-top: 10px;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 22px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 82px;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    height: 70vh;
  }

  .logo-title {
    font-size: 28px;
    letter-spacing: .16em;
  }

  .logo-subtitle {
    font-size: 14px;
  }

  /* Products-section */
  .products-item {
    flex: 0 0 100%;
  }


  /* About */
  // .about-image-wrapper {
  //   width: 100px;
  //   max-width: 100%;
  //   // margin: 0 auto 20px;
  // }

  /* Contact */
  // .contact-item {
  //   width: 40px;
  //   margin: 0 10px;
  // }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}


/* タブレット表示時 */
@media (max-width: 1000px)  {
  .about-item {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about-body {
    width: 550px;
    margin: 0 auto;

    h3 {
      width: 75%;
      margin: 0 auto 5px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      border-bottom: solid 1px rgb(134, 197, 153);
    }
  }
  .about-image-wrapper {
    display: none;
  }

  .about-image-500 {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
}

/* スマホ表示時 */
@media (max-width: 500px) {
  .about-body {
    width: 100%;
    margin: 0 auto;

    h3 {
      width: 75%;
      margin: 0 auto 5px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      border-bottom: solid 1px rgb(134, 197, 153);
    }
  }
  .about-image-500 {
    // width: 400px;
    text-align: center;
    img{
      object-fit: cover;
    }
  }

  // contact-section
  .shop-data {
    font-size: 12px;
  }
}
