// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-tab {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff !important;
  margin: 0 !important;
  padding-top: 20px; 
}
.menu__category {
  flex: 1;
}
.category__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #444;
  cursor: pointer;
}
.category__link:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 2px;
  background-color: #444;
  transition: all 0.4s ease-out;
}
.category__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #444;
  transition: all 0.4s ease-out;
}
.category__link.on:before {
  width: 50%;
}
.category__link.on:after {
  width: 50%;
}

/*--------------------------------
 category-body
---------------------------------*/
.category-body {
  position: relative;
}
.category-body__item {
  position: absolute;
  width: 100%;
  margin: 30px 15px;
  text-align: center;
  opacity: 0;
  transition: all 0.6s ease-out;
}

.card-link {
  text-decoration: none;
  color: #333;
}
.category-body__item.on {
  opacity: 1;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*--------------------------------
 grad
---------------------------------*/
.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}


/*--------------------------------
 タブの中身
---------------------------------*/

product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.product-card {
  padding: 10px 10px;
}
.card-title {
  font-size: 14px;
}


.card-text{
  font-size: 12px;
}

.card-btn {
  font-size: 12px;
}