/*--------------------------------
 user/sign_up
---------------------------------*/
.user-new-headtitle {
  text-align: center;
}
.user-new-contents {
  background-color: #f7f7f7;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.user-new-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.user-form-group {
  width: 80%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
}

.user-input-default {
  height: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.info-text {
  font-size: 14px;
  color: green;
}

.user-name-wrap {
  display: flex;
  justify-content: space-between;
}

.user-input-name {
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.user-birth-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-birth-wrap>select {
  width: 27%;
  margin-top: 5px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.user-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
  font-size: 12px;
}

.agreement {
  width: 80%;
  margin: 0 auto 10px;
  text-align: center;
}

.agreement-link {
  text-align: center;
  text-decoration: none;
  color: rgb(134, 197, 153);
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-green-btn {
  width: 100%;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-green-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
}


/*--------------------------------
 _account.html.erb
---------------------------------*/
.user-account-contents {
  background-color: #fff;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}


/*--------------------------------
 _form.html.erb
---------------------------------*/
.user-account-contents {
  background-color: #fff;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.address-btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-update-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.address-update-btn {
  width: 45%;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}

.address-update-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
}

.address-delete-btn {
  display: inline-block;
  color: gray;
}

.address-delete-btn:hover {
  color: gray;
  text-decoration: none;
}


/*--------------------------------
 home/test_sign_in.html.erb
---------------------------------*/
.test-signin-wrapper {
  display: flex;
  justify-content: center;
}

.test-signin {
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
}

.test-user-signin-btn {
  width: 50%;
  margin: 0 auto;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 10px;
  cursor: pointer;
}

.test-user-signin-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
}

.test-admin-signin-btn {
  width: 50%;
  margin: 0 auto;
  background: rgba(102, 107, 106, 0.8);
  border: 1px solid rgba(102, 107, 106, 0.8);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 10px;
  cursor: pointer;
}

.test-admin-signin-btn:hover {
  background-color: #fff;
  color: rgba(102, 107, 106, 0.8);
}



.actions-left {
  text-align: right;
}
.actions-rigth {
  text-align: left;
}

/*--------------------------------
new_reservation.html
---------------------------------*/

.reservation-new-contents {
  background-color: #f7f7f7;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}
.precautions {
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  width: 95%;
  margin: 10px auto;
}

.precautions-title {
  text-align: center;
  font-size: 15px;
  color: rgb(235, 97, 18);
}

.precautions-holidays {
  // color: #ccc;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

.precautions-holidays-flex {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

/*--------------------------------
charges/new.html
---------------------------------*/
.charge-product-wrapper {
  margin-bottom: 50px;
}

.last-charge-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin: 5px 0 0 auto;
  text-align: right;
}

.last-charge-green-btn {
  width: 50%;
  padding: 10px;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.last-charge-green-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
  text-decoration: none;
}

.reservation-back {
  margin-right: 30px;
  color: gray;
  text-align: center;
}

.reservation-back:hover {
  color: gray;
  text-decoration: none;
}




/*--------------------------------
_card.html.erb
---------------------------------*/

.card-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.card-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-data {
  width: 200px;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  color: green;
}

.card-date {
  width: 200px;
  margin-left: 10px;
  text-align: center;
}

.card-delete-btn {
  margin-top: 20px;
  color: gray;
  text-align: center;
}

.card-delete-btn:hover {
  color: gray;
  text-decoration: none;
}

.not-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.address-btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-form-btn {
  width: 50%;
  padding: 10px 20px;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.card-form-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
  text-decoration: none;
}

/*--------------------------------
addresses/_form.html
---------------------------------*/
.address-btn-wrapper {
  display: block;
  margin: 20px 0;
}
.address-btn {
  width: 20%;
  padding: 5px;
  background-color: rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.address-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
  border: 1px solid rgb(134, 197, 153);
  text-decoration: none;
}

.address-new-contents {
  background-color: #f7f7f7;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px 10px;
  width: 70%;
  margin: 0 auto;
}

.address-new-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.address-form-group {
  width: 80%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
}

.address-input-default {
  height: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}


/*--------------------------------
basket/show.html.erb
---------------------------------*/
.menu-btn-wrapper {
  display: block;
  margin: 20px 0;
}

.menu-btn {
  width: 100%;
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: rgb(134, 197, 153);
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.menu-btn:hover {
  color: #fff;
  background-color: rgb(134, 197, 153);
  text-decoration: none;
}
.basket-price {
  white-space: nowrap;
}
.delete-basket-btn {
  width: 100%;
  padding: 10px;
  background: rgb(170, 172, 170);
  border: 1px solid rgb(170, 172, 170);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.delete-basket-btn:hover {
  color: rgb(170, 172, 170);
  background-color:  #fff;
  text-decoration: none;
}

.basket-total-price {
  display: block;
  white-space: nowrap;
  text-align: right;
  margin: 0 0 0 auto;
  padding: 10px;
  color: gray;
  line-height: 20px;
  font-size: 14px;
}

.charge-btn {
  width: 50%;
  margin: 5px 0 0 auto;
  text-align: right;
}

.charge-green-btn {
  width: 100%;
  padding: 10px;
  background: rgb(134, 197, 153);
  border: 1px solid rgb(134, 197, 153);
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.charge-green-btn:hover {
  color: rgb(134, 197, 153);
  background-color: #fff;
  text-decoration: none;
}

.menu-link {
  color: gray;
  text-align: center;
}

.menu-link:hover {
  color: gray;
  text-decoration: none;
}


.recommend {
  margin: 50px auto;
  width: 70%;
}

.recommend h3 {
  text-align: center;
  margin: 10px auto;
  width: 90%;
  font-size: 20px;
  color: rgba(102, 107, 106, 0.8);
  border-bottom: solid 1px rgb(134, 197, 153);
  position: relative;
}

.recomend-wrapper {
  background-color: rgba(134, 197, 153, 0.1);
  border-radius: 0.5rem;
  height: 100%;
}

.recommend-product-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.recommend-product-image-wrapper {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.recommend-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}

.recommend-product-name {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 5px;
}

.fa-chevron-circle-left {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  z-index: 100;
  left: -50px;
  top: 150px;
  color: rgba(134, 197, 153, 0.7);
  content: "\f137";
}

.fa-chevron-circle-right {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  z-index: 100;
  right: -50px;
  top: 150px;
  color: rgba(134, 197, 153, 0.7);
  content: "\f138";
}

/*--------------------------------
レスポンシブ
---------------------------------*/
/* タブレット表示時 */
@media (max-width: 1000px)  {
  // users/show.html account.html
  .user-account-contents {
    width: 90%;
  }
  .user-birth-wrap {
    flex-wrap: nowrap;
  }

　// address/_form.html
  .not-contents {
    font-size: 14px;
  }
  .address-btn-wrapper {
    .address-btn {
      display: block;
      width: 30%;
      padding: 10px;
      line-height: 20px;
      font-size: 12px;
      text-align: center;
    }
  }

  // address/new.html
  .address-new-contents {
    width: 80%;
    .address-form-group {
      width: 100%;
    }
  }

  // baskets/show.html
  .charge-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .menu-link {
      margin: 0 auto;
      display: inline-block;
      width: 45%;
      text-align: center;
    }
    .charge-green-btn {
      font-size: 18px;
      letter-spacing: 10px;
      display: inline-block;
      width: 45%;
      text-align: center;
      line-height: 20px;
    }
  }
}

/* スマホ表示時 */
@media (max-width: 500px) {
  // users/show.html account.html
  .user-form-group {
    width: 100%;
    .user-input-default, .user-input-name, select {
      font-size: 14px;
    }
  }
  .user-birth-wrap {
    flex-wrap: nowrap;
  }
  .register-btn {
    width: 100%;
    margin: 0 auto;
  }

  // addresses/_form.html
  .address-btn-wrapper {
    .address-btn {
      width: 100%;
    }
  }
  .address-update-btn-wrapper {
    flex-direction: column;
    .address-update-btn {
      width: 100%;
      margin-left: 0px;
      margin-top: 10px;
    }
  }

  // address/new.html
  .address-new-contents {
    width: 100%;
  }

  // cards/_card.html
  .card-form-btn {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  // baskets/show.html
  th {
    font-size: 12px;
  }

  .menu-btn-wrapper {
    .menu-btn {
      display: block;
      width: 100%;
      padding: 10px;
      line-height: 20px;
      font-size: 12px;
      text-align: center;
    }
  }
  .basket-price {
    font-size: 10px;
  }
  .product {
    font-size: 12px;
    .delete-basket-btn {
      white-space: nowrap;
      text-align: center;
      line-height: 10px;
      font-size: 14px;
      cursor: pointer;
      font-size: 10px;
      overflow: hidden;
    }
  }

  .basket-total-price {
    text-align: center;
  }

  .charge-btn {
    width: 100%;
    .menu-link {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      font-size: 14px;
      margin-top: 20px;
    }
    .charge-green-btn {
      display: block;
      width: 100%;
      text-align: center;
      line-height: 20px;
    }
  }
  // charges/new_reservation.html
  .reservation-new-contents {
    width: 100%;
    .precautions {
      margin: 20px auto;
    }
    .precautions-holidays-flex {
      font-size: 10px;
      width: 100%;
      span {
        width: 33%;
        white-space: nowrap;
      }
    }
  }

  // charges/new.html
  .last-charge-btn {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    // margin: 5px 0 0 auto;
    // text-align: right;
  }

  .last-charge-green-btn {
    width: 100%;
    // padding: 10px;
    // background: rgb(134, 197, 153);
    // border: 1px solid rgb(134, 197, 153);
    // border-radius: 5px;
    // color: #fff;
    // line-height: 30px;
    // font-size: 14px;
    // cursor: pointer;
  }

  .reservation-back {
    margin: 10px 0;
    white-space: nowrap;
    font-size: 12px;
  }
}
